{
  "extends": [
    "ngerritsen",
    "plugin:inferno/recommended"
  ],
  "plugins": [
    "inferno"
  ],
  "env": {
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "rules": {
    "inferno/jsx-pascal-case": 2,
    "inferno/jsx-indent-props": [2, 2],
    "inferno/no-multi-comp": 2,
    "inferno/prefer-es6-class": 2,
    "inferno/prefer-stateless-function": 2,
    "inferno/prop-types": 0,
    "inferno/self-closing-comp": 2,
    "inferno/sort-prop-types": 1
  }
}
