.button {
  background-color: $blue;
  border: none;
  border-radius: 3px;
  color: $white;
  font-size: 1.5rem;
  font-weight: bold;
  height: 4rem;
  line-height: 4rem;
  padding: 0 1.5rem;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: darken($blue, 10%);
    cursor: pointer;
    outline: none;
  }

  &.alt-switch {
    background-color: darken($white, 3%);
    border: 1px solid darken($white, 25%);
    color: lighten($black, 40%);
  }

  &.alt-switch:hover,
  &.alt-switch:focus {
    background-color: darken($white, 6%);
  }

  &.alt-switch.is-active {
    border: 1px solid darken($blue, 10%);
    background-color: $blue;
    color: $white;
  }
}

.button-group {
  white-space: nowrap;

  .button {
    border-radius: 0;
    border-right: 1px solid darken($blue, 10%);
    margin: 0 -2px;

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-bottom-right-radius: 3px;
      border-right: none;
      border-top-right-radius: 3px;
    }

    &.alt-switch {
      border-right: none;
    }

    &.alt-switch:last-child {
      border-right: 1px solid darken($white, 25%);
    }

    &.alt-switch.is-active:last-child {
      border-right: 1px solid darken($blue, 10%);
    }

    &.is-active + .alt-switch {
      border-left: none;
    }
  }
}
