.flex-section {
  display: flex;
  justify-content: space-between;
}

.flex-section > * {
  margin-right: 2rem;
}

.flex-section > *:last-child {
  margin-right: 0;
}

@media (max-width: 600px) {
  .flex-section.alt-desktop {
    display: block;
  }

  .flex-section.alt-desktop > * {
    margin-right: 0;
  }
}
