.input-field {
  @include vertical-center-text(3rem);

  border: none;
  border-radius: 0.4rem;
  color: $white;
  background-color: $grey;
  font-size: 1.4rem;
  padding: 0 0.8rem;
  margin-bottom: 1rem;
}

.input-field:focus {
  background-color: $white;
  color: #333;
  outline: none;
}
