.select-box {
  @include vertical-center-text(3rem);

  display: inline-block;
  border: none;
  border-radius: 0.4rem;
  background-color: $grey;
  margin-bottom: 1.6rem;
  position: relative;

  &:after {
    @include vertical-center-text(3rem);

    pointer-events: none;
    content: "\f0d7";
    font-family: FontAwesome;
    position: absolute;
    right: 0.8rem;
    top: 0;
    height: 100%;
  }

  &:hover,
  &:focus {
    background-color: lighten($grey, 7%);
    cursor: pointer;
  }
}

.select-box__select {
  @include vertical-center-text(3rem);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  padding: 0 2.6rem 0 0.8rem;
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  color: $white;

  &:hover {
    cursor: pointer;
  }
}

.select-box__select:focus {
  outline: none;
}
