$color-white: #fff;
$color-cloud: #ecf0f1;
$color-blue: #0698f9;
$color-midnight: #324d67;
$color-purple: #bd1d9a;
$color-pink: #e80c62;

$spacing-medium: 2.1rem;
$spacing-small: $spacing-medium / 1.5;
$spacing-x-small: $spacing-small / 1.5;
$spacing-large: $spacing-medium * 1.5;

$size-small: 540px;
$size-medium: 720px;
$size-large: 960px;

$input-height: 3.6rem;
