@import 'variables';
@import 'mixins';

.add-food {
  display: flex;
  justify-content: space-between;
  background: lighten($color-cloud, 5%);
  border-color: darken($color-cloud, 7.5%);
  border-style: solid;
  border-width: 1px 0;
  padding: $spacing-medium $spacing-medium;
}

.add-food__input {
  max-width: 25rem;
  min-width: 20rem;
  border-color: darken($color-cloud, 10%);
}

.add-food__button {
  color: $color-blue;
  background-color: transparent;
  border: none;
  height: $input-height;
  line-height: $input-height;
  padding: 0 1rem;
  height: $input-height;
  border-radius: $input-height;
  font-size: 1.6rem;
  text-align: center;

  &:hover,
  &:focus {
    outline: none;
    background-color: transparent;
    color: darken($color-blue, 10%);
    cursor: pointer;
  }
}

.add-food__button--disabled,
.add-food__button--disabled:hover,
.add-food__button--disabled:focus {
  color: darken($color-cloud, 35%);
  cursor: default;
}

@include from($size-small) {
  .add-food {
    border-radius: 2px;
    border-width: 1px;
  }
}
