@import 'variables';
@import 'mixins';

.foods {
  margin: 0;
  padding: 0;
}

.foods__item {
  list-style: none;
  padding: 0;
  margin-bottom: $spacing-small;
}

@include from($size-small) {
  .foods {
    padding: 0 $spacing-small;
  }
}

@include from($size-large) {
  .foods {
    display: flex;
    flex-wrap: wrap;

  }

  .foods__item {
    flex-grow: 1;
    min-width: 48%;
    max-width: 50%;
    max-width: calc(50% - #{$spacing-small / 2});
    margin-right: $spacing-small;

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}
