@import 'variables';
@import 'mixins';

.food {
  background: $color-white;
  border-color: darken($color-cloud, 7.5%);
  border-style: solid;
  border-width: 1px 0;
  padding: $spacing-medium $spacing-medium;
}

.food__title {
  margin: 0 0 $spacing-small 0;
  font-size: 1.7rem;
}

.food__pan-select {
  cursor: pointer;
}

.food__weight-input {
  margin-right: $spacing-x-small;
}

.food__input-container {
  display: flex;
}

@include from($size-small) {
  .food {
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    border-width: 1px;
  }

  .food__title {
    margin: 0;
    line-height: $input-height;
  }

  .food__weight-input,
  .food__pan-select {
    width: auto;
  }

  .food__input-container {
    display: block;
  }
}
