@import 'variables';
@import 'mixins';

$header-height: 7rem;

.header {
  height: $header-height;
  padding: 0 $spacing-medium;
  margin-bottom: $spacing-medium;
  background-color: $color-blue;
  color: $color-white;
  border-bottom: 4px solid darken($color-blue, 8%);
}

.header__title {
  margin: 0;
  line-height: $header-height;
  font-size: 3.2rem;
  text-transform: lowercase;
  font-family: 'Patua One';
}
