@import 'variables';
@import 'mixins';

$header-height: 6rem;

.header {
  height: $header-height;
  padding: 0 $spacing-medium;
  margin-bottom: $spacing-small;
  background-color: $color-blue;
  color: $color-white;
}

.header__title {
  margin: 0;
  line-height: $header-height;
  font-size: 3.1rem;
  text-transform: lowercase;
  font-weight: normal;

  strong {
    font-weight: 600;
  }
}
