@import 'variables';
@import 'mixins';

$header-height: 5.6rem;

.header {
  height: $header-height;
  padding: 0 $spacing-medium;
  margin-bottom: $spacing-small;
  color: $color-white;
  background: $color-purple linear-gradient(45deg, $color-purple, $color-pink);
}

.header__title {
  margin: 0;
  opacity: 0.95;
  line-height: $header-height;
  font-size: 2.6rem;
  font-weight: normal;
  letter-spacing: -0.3px;

  strong {
    margin-right: 1.5px;
  }
}

@include from($size-small) {
  .header {
    height: $header-height * 1.2;
  }

  .header__title {
    line-height: $header-height * 1.2;
    font-size: 2.8rem;
  }
}
