@import 'variables';
@import 'mixins';
@import 'input';
@import 'select-box';
@import 'table';
@import 'food';

html {
  font-size: 62.5%;
  font-family: 'Open sans', sans-serif;
}

body {
  background-color: $dark;
  color: lighten($dark, 72%);
  font-size: 1.6rem;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 2rem;
}

.title {
  color: $grey;
}

.label {
  margin-right: 0.8rem;
}

.add-food-form {
  margin-bottom: 1.6rem;
}

.add-food-form__button {
  @include vertical-center-text(3rem);

  border: none;
  background-color: $blue;
  border-radius: 3px;
  font-size: 1.4rem;
  color: $white;
  margin-left: 0.6rem;
  padding: 0 0.8rem;

  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 0.8;
    outline: none;
  }
}

@media (min-width: 520px) {
  .add-food-form {
    display: inline-block;
  }

  .days-form {
    float: right;
  }
}
