@import 'variables.scss';
@import 'buttons.scss';
@import 'inputs.scss';
@import 'forms.scss';
@import 'results.scss';
@import 'flex-sections.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open sans', sans-serif;
  font-size: 1.6rem;
}

hr {
  border-bottom: 1px solid darken($white, 15%);
}

.container {
  margin: 3rem auto;
  max-width: 80rem;
}

.title {
  margin-bottom: 2rem;
}
