@import 'variables';
@import 'mixins';

.results {
  background-color: $color-white;
  padding: $spacing-medium;
  margin-bottom: $spacing-medium;
  position: relative;
  overflow: hidden;
}

.results__table {
  width: 100%;
  border-collapse: collapse;
}

.results__table,
.results__row,
.results__cell {
  border-collapse: collapse;
  border: 1px solid darken($color-white, 17.5%);
  padding: $spacing-small;
}

.results__cell--heading {
  font-weight: bold;
  text-align: left;
}

.results__cell--total {
  font-style: italic;
}

@include from($size-small) {
  .results {
    padding: $spacing-small;
    margin: 0 $spacing-small $spacing-medium;
  }
}
