@import 'variables';
@import 'mixins';

.results {
  background-color: $color-white;
  padding: $spacing-medium;
  border-color: darken($color-cloud, 7.5%);
  border-style: solid;
  border-width: 1px 0;
  margin-bottom: $spacing-medium;
  position: relative;
  overflow: hidden;
}

.results__table {
  width: 100%;
  border-collapse: collapse;
}

.results__table,
.results__row,
.results__cell {
  border-collapse: collapse;
  padding: $spacing-small;
}

.results__unit {
  color: darken($color-white, 60%);
  margin-left: 1px;
}

.results__row {
  border-bottom: 1px solid darken($color-cloud, 10%);
}

.results__cell--heading {
  font-weight: bold;
  text-align: left;
}

.results__cell--total {
  background-color: lighten($color-cloud, 3.5%);
  font-style: italic;
}

@include from($size-small) {
  .results {
    padding: $spacing-small;
    margin: 0 $spacing-small $spacing-medium;
    border-radius: 2px;
    border-width: 1px
  }
}
