@import 'normalize';
@import '../bower_components/susy/sass/susy';
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/breakpoint/breakpoint/breakpoint';
@import 'variables';

body {
	font-size: $base-font-size;
	font-family: $base-font;
}

.elegance-strip {
	@include background(url("../images/bg.jpg") center top no-repeat fixed);
	background-size: contain;
	width: 100%;
	z-index: 999;
	position: fixed;
	top: 0;
	height: 7px;
}

h1 {
	font-weight: 600;
}

h2 {
	margin-top: 0;
	font-weight: 300;
}

.container {
	@include container(center);
	@include padding($margin-small $margin-regular + $margin-xsmall);
	@include clearfix;
	overflow: hidden;
	max-width: $max-size;
}

.title {
	padding-bottom: $margin-small;
	margin: $margin-large + $margin-xsmall 0 $margin-large 0;
	color: lighten($black, 10%);
	
	i {
		font-size: 0.8em;
		position: relative;
		top: -0.1em;
		margin-right: 0.25em;
	}
}

.section {
	margin-bottom: $margin-large;
}

.form-segment {
	@include container(12);
	border-bottom: 1px solid $bearly-grey;
	margin-bottom: $margin-regular;
	padding: $margin-large 0 $margin-regular 0;
	overflow: hidden;
	
	&:first-child {
		border-top: 1px solid $bearly-grey;
	}
}

.form-element {
	margin-bottom: 1rem;
	
	&:nth-child(3) {
		margin-right: 0;
	}
}

label {
	@include span(4 of 12);
	font-weight: 300;
}

.form-input-element {
	@include span(8 of 12);
	background-color: $bearly-grey;
	margin-right: 0;
	
	#{$all-text-inputs} {
		width: 90%;
	}

	select {
		width: 95%;
	}
}

.form-title {
	font-weight: 600;
	@include span(2 of 12);
}

.pan-selector {
	@include span(5 of 12);
}

.weight-input {
	@include span(5 of 12);
}

@media (max-width: 400px) {
	.form-title,
	.pan-selector,
	.weight-input {
		@include span(12 of 12);
		margin-right: 0;
	}
}

#{$all-text-inputs},
select {
	@include border-bottom-radius(0);
	@include border-top-radius(0);
	border-radius: 0 !important;
	border: 0;
	padding: 0 $margin-regular;
	outline: none;
}

#{$all-text-inputs},
select,
.form-input-element {
	background-color: $bearly-grey;
}

#{$all-text-inputs},
select,
label,
.form-title  {
	height: 32px;
	line-height: 32px;
}

.result-table {
	width: 100%;

	tr {
		&:nth-child(odd) {
			background-color: darken(white, 2.5%);
		}
	}

	.result-table-sub-results {
		font-weight: 300;
	}

	td,
	th {
		padding: $margin-regular $margin-regular;
		text-align: left;
	}
}